<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Parent edit page</h1>

    <!--place edit form here -->
    <form action ="/parents/<%=fruit.id%>?_method=PUT" method="POST"

    <input type="submit" name="edit" value="Submit Changes" />

  </body>
</html>
