<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Parents index Page</h1>
    <div class ='services'>
      <h2>Emergency babysitting help</h2>
    </div>
    <nav>
      placeholder for new parents registration link
    </nav>

  </body>
</html>
