<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Parent Helper, Inc</h1>
    <div class ='services'>

      <h2>Emergency babysitting help</h2>
    </div>


    <nav>
      placeholder for new parents registration link
    </nav>
      <div>
          <h2>placeholder for edit link</h2>

      </div>


  </body>
</html>
