<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Parents Show page</h1>

    <h2>Put individual service here</h2>

    <nav>
       <a href ='/parents'>Back to parents Index</a>
       <!-- Add Delete form here -->

       <form>
         <input type="submit" value="DELETE" />
       </form>


    </nav>
  </body>
</html>
